@font-face {
  font-family: $primary-font;
  src: url("../fonts/CroissantOne-Regular.woff2") format("woff2"),
       url("../fonts/CroissantOne-Regular.woff") format("woff");
}

@font-face {
  font-family: $secondary-font;
  src: url("../fonts/FiraSansCondensed-Regular.woff2") format("woff2"),
       url("../fonts/FiraSansCondensed-Regular.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $primary-font;
  margin: 0;
  cursor: url('../images/cursor.png') 25 25, auto;

  &.fixed {
    max-height: 100vh;
    overflow: hidden;
  }

  @media (max-width: 50rem) {
    text-align: center;
  }
}

p, a {
  font-size: 22px; 
  line-height: 150%;
  color: $secondary-color;
  font-family: $secondary-font;
  margin: 0;

  @media (max-width: 50rem) {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: $active-color;
  cursor: url('../images/cursor-active.png') 25 25, auto;
}

ul, ol {
  list-style: none;
}

li {
  font-size: 16px;
  line-height: 150%;
  color: $secondary-color;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;

  @media (max-width: 50rem) {
    font-size: 30px;
  }
}

h3 {
  font-size: 30px;

  @media (max-width: 50rem) {
    font-size: 25px;
  }
}

h4 {
  font-size: 20px;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  margin: 0;
}

span {
  font-family: $secondary-font;
}

.col-xs-12 {
  @media (max-width: 50rem) {
    padding: 1rem 0;
  }
}

.fade-in {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateY(-20px);
  opacity: 0;

  &--active {
    transform: translateY(0px);
    opacity: 1;
  }
}