.c-header {
  position: relative;

  .header__menu-mobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    height: fit-content;
    color: $active-color;

    &::after {
      background-color: $active-color;
    }
  }
}

.header__image {
  width: 100%;
}

.header__image-mobile {
  height: 80px;
  margin: 0 auto;
}