// variables/main.scss

@import "grid-variables";

$primary-color: #F0E6DC;
$secondary-color: #41418C;
$active-color: #EB9B64;

$primary-font: "CroissantRegular";
$secondary-font: "FiraSansCondensedRegular"

