<section class="c-about center-xs">
  <div class="about__inner row center-xs" style="border: 10px solid transparent; border-image: url({{ site.theme.link }}/static/images/border.png) 30 / 30px round;">
    <div class="col-xs-6">
      <h2 class="c-title">Over ons<span class="title__icon"><img src="{{ site.theme.link }}/static/images/sparkle-sand.svg"></span></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A amet sapien tristique sed. Eu sapien, metus arcu, mattis suscipit. Vel diam tellus dignissim in nulla. Placerat amet amet cursus leo viverra odio. Ut viverra ut tincidunt ornare suspendisse mattis mattis montes. Cursus turpis volutpat nulla vitae.</p>
    </div>
  </div>
</section>