<section class="c-hero row">
  <div class="hero__content col-xs-6">
    <h1 class="c-title">Wij helpen jouw event te verwonderen<span class="title__icon"><img src="{{ site.theme.link }}/static/images/sparkle.svg"></span></h1>
    <a class="c-link content__link">Contact opnemen</a>
    <a class="c-link c-link--secondary">Bekijk onze werkwijze</a>
  </div>
  <div class="col-xs-6"> 
    <img class="hero__image" src="{{ site.link }}/wp-content/uploads/2022/02/hero-image.png">
  </div>
</section>